 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body > *, .body > * > * {
  transition: all 1s ease-in-out;
}
:root {
  font-size: 16px;
}
body {
  background-color: #6378C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  transition: all 1s ease-in-out;
}
.tasks-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}
.tasks-top h1, .fa-trash-alt{
  color: white;
  font-size: 2em;
  cursor: pointer;
}
.menu-cont {
  padding: 0.7em;
  background-color: #5568AC;
  border-radius: 6px;
}
.add-task-cont {
  background-color: #5568AC;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
button[class^="left"] {
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
  justify-content:space-between;
  align-items: center;
  color: white;
  cursor: pointer;
}
button[class^="left"]  > h3 {
  font-size: 1.3em;
}
.right-add {
  border-radius: 10px;
  border: 3px solid lightblue;
  padding: 1em;
}
.right-add input {
  color: white;
  border: none;
  outline: none;
  font-size: 1.6em;
  background-color: transparent;
}

.fa-plus {
  margin-right: 1em;
  font-size: 2.3em;
}
.task-card {
  background-color: #fff;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 1em;
  border-radius: 7px;
  margin-bottom: 1em;
  transition: all 1s linear;
}
.fa-circle {
  flex-grow: 0;
  margin-right: 1em;
  color: white;
  border: 2px solid grey;
  border-radius: 50%;
  font-size: 2em;
  cursor: pointer;
}
.taskText {
  flex-grow: 1;
  margin-right: 1em;
  color: black;
  border: none;
  outline: none;
  font-size: 1.6em;
}
.fa-star {
  flex-grow: 0;
  font-size: 2em;
  color: grey;
}
.fadeOut {
  animation: fadeOut 2s linear;
}
@keyframes fadeOut {
  from {
    color: white;
  }
  to {
    color: red;
  }
}
@media screen and (max-width: 583px) {
  :root {
    font-size: 6px;
  }
}